---
import Layout from '@/layouts/Layout.astro';
import SubLayout from '@/components/layout/SubLayout.astro';
import { UiBookCard, UiCollectionAccordion, UiAccordion } from '@components';

const breadcrumbItems = [
  { label: '홈', href: '/' },
  { label: '도서검색', href: '/support' },
  { label: '소장도서검색' },
];
---

<Layout title="소장도서검색_상세검색 - 연수구립도서관">
  <SubLayout title="" breadcrumbItems={breadcrumbItems}>
    <!-- 도서 상세 -->
    <div class="search-detail-section__content">
      <!-- 검색 결과 목록 -->
      <div class="search-result-list mt24">
        <!-- 도서 아이템 -->
        <UiBookCard
          index={1}
          imageUrl="/assets/images/default-book.png"
          badges={[
            { label: 'DVD', type: 'success', size: 'large' },
            { label: '대출불가', type: 'warning' },
          ]}
          title="서점탐정 유동인. 2, 리턴즈"
          titleHighlights={['탐정', '리턴즈']}
          author="조성희 감독"
          details={{
            callNumber: 'DV 688.2-조54ㅌ',
            publishYear: '2017',
            library: '연수청학',
            readingRoom: 'OOO자료실',
            registrationNumber: 'HV0000000881',
          }}
        />
        <!-- 소정정보 -->
        <UiCollectionAccordion
          title="소장정보"
          iconType="arrow"
          isExpanded={true}
          className="custom-accordion"
        />

        <UiAccordion
          title="책소개"
          variant="bordered"
          size="medium"
          iconType="chevron"
          isExpanded={true}
          className="custom-accordion"
        >
          <div class="book-description">
            <p>
              정경해 시집. 시인의 시는 평범하고 사소한 일상의 연속을 부유하는
              동시대인들의 표상이다. 정경해의 의식의 흐름은 정경해 한 개인만의
              의식의 흐름이 아니라 일종의 집단무의식으로서의 동시대인들 일반의
              집단무의식의 흐름을 이룬다.
            </p>
          </div>
        </UiAccordion>

        <UiAccordion
          title="목차"
          variant="bordered"
          size="medium"
          iconType="chevron"
          isExpanded={true}
          className="custom-accordion"
        >
          <div class="book-description">
            <p>
              정경해 시집. 시인의 시는 평범하고 사소한 일상의 연속을 부유하는
              동시대인들의 표상이다. 정경해의 의식의 흐름은 정경해 한 개인만의
              의식의 흐름이 아니라 일종의 집단무의식으로서의 동시대인들 일반의
              집단무의식의 흐름을 이룬다.
            </p>
          </div>
        </UiAccordion>

        <UiAccordion
          title="사서추천도서"
          variant="bordered"
          size="medium"
          iconType="chevron"
          isExpanded={true}
          className="custom-accordion"
        >
          <div class="book-description">
            <p>
              정경해 시집. 시인의 시는 평범하고 사소한 일상의 연속을 부유하는
              동시대인들의 표상이다. 정경해의 의식의 흐름은 정경해 한 개인만의
              의식의 흐름이 아니라 일종의 집단무의식으로서의 동시대인들 일반의
              집단무의식의 흐름을 이룬다.
            </p>
          </div>
        </UiAccordion>
      </div>
    </div>
  </SubLayout>
</Layout>
