---
import Layout from '@/layouts/Layout.astro';
import SubLayout from '@/components/layout/SubLayout.astro';
import { UiSelect, UiTab, UiSubTab, UiBookListCard, UiPagination } from '@components';

const breadcrumbItems = [{ label: '홈', href: '/' }, { label: '도서검색', href: '/search' }, { label: '인기도서' }];
const tabs = [
  { label: '이달의 인기도서', id: 'monthly', active: true },
  { label: '연령별 인기도서', id: 'age', active: false },
  { label: '주제별 인기도서', id: 'subject', active: false },
  { label: '장르별 인기도서', id: 'genre', active: false },
];
const tabs2 = ['10대미만', '10대', '30대', '40대', '50대', '60대'];

const libraryOptions = [
  { label: '전체도서관', value: '' },
  { label: '연수구립도서관', value: 'yeonsu' },
  { label: '송도국제도서관', value: 'songdo' },
];

const yearOptions = [
  { label: '2025년', value: '2025' },
  { label: '2024년', value: '2024' },
  { label: '2023년', value: '2023' },
];

const monthOptions = [
  { label: '4월', value: '4' },
  { label: '1월', value: '1' },
  { label: '2월', value: '2' },
  { label: '3월', value: '3' },
];
---

<Layout title="인기도서">
  <SubLayout title="인기도서" breadcrumbItems={breadcrumbItems} menuType="도서검색">
    <div class="filter-row-type2">
      <UiSelect options={libraryOptions} name="library" size="medium" width="auto" class="filter-select--library" variant="default" />
      <UiSelect options={yearOptions} name="year" size="medium" width="auto" class="filter-select--year" variant="default" />
      <UiSelect options={monthOptions} name="month" size="medium" width="auto" class="filter-select--month" variant="default" />
      <button class="filter-btn" type="button">검색</button>
    </div>
    <UiTab tabs={tabs} variant="default" className="mt40 search-type-tabs ui-tab--grid-4" />

   <div id="panel-monthly" class="ui-tab-panel ui-tab-panel--active">
    <UiSubTab tabs={tabs2} activeTab={0} class="mt24">
      <div data-content="0" class="content-panel active">
        <div class="grid grid-5">
          <UiBookListCard rank={1} image="./assets/images/book-list-card-1.png" title="해리포터와 마법사의 돌해리포터와 마법사의 돌" author="J.K. 롤링 저, 김혜원 역" hasImage={true} isLiked={true} />
          <UiBookListCard rank={2} image="./assets/images/book-list-card-1.png" title="해리포터와 마법사의 돌해리포터와 마법사의 돌" author="J.K. 롤링 저, 김혜원 역" hasImage={true} isLiked={true} />
          <UiBookListCard rank={3} image="./assets/images/book-list-card-1.png" title="데미안" author="헤르만 헤세 저, 전영애 역" hasImage={true} isLiked={true} />
          <UiBookListCard rank={4} image="./assets/images/book-list-card-1.png" title="1984" author="조지 오웰 저, 정회성 역" hasImage={true} isLiked={false} />
          <UiBookListCard rank={5} image="./assets/images/book-list-card-1.png" title="노인과 바다" author="어니스트 헤밍웨이 저, 김욱동 역" hasImage={true} isLiked={false} />
          <UiBookListCard rank={6} image="./assets/images/book-list-card-1.png" title="백년동안의 고독" author="가브리엘 가르시아 마르케스 저, 조구호 역" hasImage={true} isLiked={true} />
          <UiBookListCard rank={7} image="./assets/images/book-list-card-1.png" title="죄와 벌" author="표도르 도스토예프스키 저, 홍대화 역" hasImage={true} isLiked={false} />
          <UiBookListCard rank={8} image="./assets/images/book-list-card-1.png" title="호밀밭의 파수꾼" author="J.D. 샐린저 저, 공경희 역" hasImage={true} isLiked={false} />
          <UiBookListCard rank={9} image="./assets/images/book-list-card-1.png" title="위대한 개츠비" author="F. 스콧 피츠제럴드 저, 김영하 역" hasImage={true} isLiked={true} />
          <UiBookListCard image="./assets/images/empty-img.png" title="시간여행자의 아내" author="오드리 니페네거 저, 김선형 역" hasImage={true} isLiked={false} />
          <UiBookListCard image="./assets/images/empty-img.png" title="시간여행자의 아내" author="오드리 니페네거 저, 김선형 역" hasImage={true} isLiked={false} />
          <UiBookListCard image="./assets/images/empty-img.png" title="시간여행자의 아내" author="오드리 니페네거 저, 김선형 역" hasImage={true} isLiked={false} />
          <UiBookListCard image="./assets/images/empty-img.png" title="시간여행자의 아내" author="오드리 니페네거 저, 김선형 역" hasImage={true} isLiked={false} />
          <UiBookListCard image="./assets/images/empty-img.png" title="시간여행자의 아내" author="오드리 니페네거 저, 김선형 역" hasImage={true} isLiked={false} />
          <UiBookListCard image="./assets/images/empty-img.png" title="시간여행자의 아내" author="오드리 니페네거 저, 김선형 역" hasImage={true} isLiked={false} />
        </div>
      </div>

      <div data-content="1" class="content-panel">
        <div class="grid grid-4">3</div>
      </div>
    </UiSubTab>

    <div class="pagination-section">
      <UiPagination currentPage={1} totalPages={10} maxVisiblePages={5} />
    </div>
   </div>

   <div id="panel-age" class="ui-tab-panel">
    age
   </div>

   <div id="panel-subject" class="ui-tab-panel">
    subject
   </div>

   <div id="panel-genre" class="ui-tab-panel">
    genre
   </div>

  </SubLayout>
</Layout>
