---
import Layout from '@/layouts/Layout.astro';
import SubLayout from '@/components/layout/SubLayout.astro';
import { UiPagination, UiTable, UiSelect, UiButton, UiDatePicker } from '@components';

const breadcrumbItems = [{ label: '홈', href: '/' }, { label: '도서검색', href: '/support' }, { label: '대출 이력' }];

const columns = [
  { label: '도서명', key: 'title', align: 'center', headerAlign: 'center', width: '230px' },
  { label: '대출일', key: 'loanDate', align: 'center', headerAlign: 'center', width: '100px' },
  { label: '반납예정일', key: 'dueDate', align: 'center', headerAlign: 'center', width: '100px' },
  { label: '소장도서관', key: 'library', align: 'center', headerAlign: 'center', width: '150px' },
  { label: '상태', key: 'status', align: 'center', headerAlign: 'center', width: '70px' },
  { label: '연체', key: 'extend', align: 'center', headerAlign: 'center', width: '100px' },
];

const rows = [
  {
    index: 100,
    title: '(라임맘의 실패 없는) 아이주도 이유식 & 유아식',
    loanDate: '2025.05.01',
    dueDate: '2025.06.01',
    library: '옥련2동어린이작은도서관',
    status: '대출',
    extend: '7',
  },
  {
    index: 99,
    title: '아이주도 이유식 유아식 매뉴얼 : 스스로, 그리고 함께하는 행복한 맘마',
    loanDate: '2025.05.01',
    dueDate: '2025.06.01',
    library: '옥련2동어린이작은도서관',
    status: '대출',
    extend: '7',
  },
  {
    index: 98,
    title: '세상 편한 서현이네 유아 식판식 : 초보 엄마들도 쉽게 따라 할 수 있는 맞춤형 유아식',
    loanDate: '2025.05.01',
    dueDate: '2025.06.01',
    library: '옥련2동어린이작은도서관',
    status: '대출',
    extend: '7',
  },
];
---

<Layout title="대출 이력">
  <SubLayout title="대출 이력" breadcrumbItems={breadcrumbItems} menuType="나의도서관">
    <div class="search-container">
      <!-- 스마트도서관 이용방법 인포박스 -->
      <div class="infobox infobox--secondary">
        <div class="infobox__header">
          <div class="infobox__icon">
            <img src="./assets/images/icon/figma_library.svg" alt="도서관" />
          </div>
          <h3 class="infobox__title">이용안내</h3>
        </div>
        <div class="infobox__content">
          <ul class="infobox__list">
            <li class="infobox__list-item">* 대출이력 다운로드는 최대 3개월 단위 로 반출 가능합니다.</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="search-info-summary flex justify-between items-center">
      <div class="mb0">
        총 <strong>190</strong> 건 ( <strong>1</strong> / 100 )
      </div>
      <div class="filter-actions flex gap-6 items-center">
        <UiDatePicker name="publication-year" startYear="2020" endYear="2024" placeholder="발행년도를 선택해주세요" value="" id="" class="w-100-mobile-full" disabled={false} />
        <UiButton variant="primary" text="엑셀 다운로드" iconPosition="left" icon="icon-excel" class="w-170-mobile-full" />
      </div>
    </div>

    <!-- 게시글 목록 -->
    <UiTable columns={columns} rows={rows} showIndex={true} caption="도서관 건의사항 목록" />

    <!-- 페이징네비게이션 -->
    <div class="pagination-section">
      <UiPagination currentPage={1} totalPages={10} maxVisiblePages={8} />
    </div>
  </SubLayout>
</Layout>
