---
import Layout from '@/layouts/Layout.astro';
import SubLayout from '@/components/layout/SubLayout.astro';
import { UiButton, UiPagination, UiSearchbar, UiTable, UiTab } from '@components';

const breadcrumbItems = [
	{ label: '홈', href: '/' },
	{ label: '지원서비스', href: '/support' },
	{ label: '영유아전집대여사업' },
];

const tabMenus = [
	{ label: '서비스 안내', active: true, href: '/영유아전집대여사업-서비스안내' },
	{ label: '서비스 신청', href: '/영유아전집대여사업-서비스신청' },
];
---

<Layout title="영유아전집대여사업">
	<SubLayout title="영유아전집대여사업" breadcrumbItems={breadcrumbItems} menuType="책 읽는 연수구">
		<UiTab tabs={tabMenus} className="mb-4 search-type-tabs ui-tab--grid-2" />

		<div class="info-notice program-notice">
			<div class="info-notice__header mb0">
				<div class="info-notice__icon">
					<img src="./assets/images/icon/icon-info.svg" alt="안내" class="icon icon-sm" />
				</div>
				<h3 class="info-notice__title">
					유아 및 어린이 가정의 독서 문화 장려를 위해 다양한 전집 도서를 시립도서관 가족회원에게 대여해 주는
					서비스입니다.
				</h3>
			</div>
		</div>

		<!-- 운영안내 -->
		<div class="usage-guide">
			<h3 class="usage-guide__title">세부내용</h3>
			<ul class="usage-guide__content">
				<li>운영도서관 : 어린이전문도서관, 남부어린이도서관</li>
				<li>대 상 : 유아 및 아동을 둔 진주시립도서관 가족 회원</li>
				<li>대출기간 : 40일</li>
				<li>접수방법 : 도서관 홈페이지 선착순 접수</li>
				<li>대출방법 : 홈페이지 신청 및 승인 후 해당 기간 내 이용자 직접방문 대출</li>
			</ul>
		</div>
		<!-- 운영절차 -->
		<div class="usage-guide">
			<h3 class="usage-guide__title">운영절차</h3>
		</div>
		<div class="step-process">
			{
				[...Array(3)].map((_, index) => {
					const stepNumber = index + 1;
					const stepContent = [
						{
							content: "신청<br /><span class='step-sub'>홈페이지 신청</span>",
							arrow: true,
						},
						{
							content:
								"대출<br /><span class='step-sub'><span class='color-red'>승인 후, 도서관 방문 대출</span><br />대출 송도국제도서관 : 어린이자료실</span>",
							arrow: true,
						},
						{
							content:
								"반납<br /><span class='step-sub'><span class='color-red'>도서관 방문 반납</span><br />분실 및 파손 점검 후 반납 완료</span>",
							arrow: false,
						},
					][index];

					return (
						<div class="step-item" key={stepNumber}>
							<div class="step-number">{stepNumber}</div>
							<div class="step-content" set:html={stepContent.content} />
							{stepContent.arrow && (
								<div class="step-arrow">
									<img src="./assets/images/icon/icon-arrow-right.svg" alt="다음 단계" class="step-arrow-icon" />
								</div>
							)}
						</div>
					);
				})
			}
		</div>
		<!-- 유의사항 -->
		<div class="usage-guide">
			<h3 class="usage-guide__title">유의사항</h3>
			<ul class="usage-guide__content">
				<li>가족회원 중 1명만 대표로 신청 가능</li>
				<li>전집은 대출 연장 및 재대출 불가</li>
				<li>연체하거나 승인 후, 미수령 시 다음번 전집 신청 불가</li>
				<li>분실 및 훼손 시 동일 도서로 변상</li>
				<li>전집 바구니, 수레 분실 및 훼손 시 동일한 자료로 변상</li>
				<li>반납 시, 직접 어린이자료실로 방문하여 전체도서 반납 (무인반납기, 타관 반납 이용불가)</li>
			</ul>
		</div>
	</SubLayout>
</Layout>
