---
import Layout from '@/layouts/Layout.astro';
import SubLayout from '@/components/layout/SubLayout.astro';
import { UiButton } from '@components';
import { UiTab } from '@components';

const breadcrumbItems = [{ label: '홈', href: '/' }, { label: '도서검색', href: '/search' }, { label: '이용안내' }];

const tabs = [
	{ label: '이용안내', id: 'guide', active: true },
	{ label: '이용시간', id: 'hours', active: false },
	{ label: '이용안내지', id: 'manual', active: false },
];

const newsletters = [
	{ year: 2027, fileSize: '1.2MB', fileUrl: '#' },
	{ year: 2026, fileSize: '1.2MB', fileUrl: '#' },
	{ year: 2025, fileSize: '1.2MB', fileUrl: '#' },
	{ year: 2024, fileSize: '1.2MB', fileUrl: '#' },
	{ year: 2023, fileSize: '1.2MB', fileUrl: '#' },
	{ year: 2022, fileSize: '1.2MB', fileUrl: '#' },
	{ year: 2021, fileSize: '1.2MB', fileUrl: '#' },
	{ year: 2020, fileSize: '1.2MB', fileUrl: '#' },
];
---

<Layout title="이용안내">
	<SubLayout title="이용안내" breadcrumbItems={breadcrumbItems} menuType="안내마당">
		<UiTab tabs={tabs} variant="default" className="mb-4 search-type-tabs" />

		<!-- 이용안내 탭 -->
		<div id="panel-guide" class="ui-tab-panel ui-tab-panel--active">
			<img src="./assets/images/usage-rules.png" alt="Usage Rules" />

			<div class="usage-guide mt20">
				<ul class="usage-guide__content">
					<li>
						흡연, 음주, 짖설 등 다른사람에게 방해가 되는 행위는 하지 않습니다. (휴대폰은 진동으로 해주시기 바랍니다.)
					</li>
					<li>관내에 비치된 도서는 관내에서만 열람하며, 대출하지 않은 경우에는 절대 관외로 유출하지 않습니다.</li>
					<li>열람한 책은 제자리에 꽂아 다음사람이 이용할 수 있도록 하여 주시기 바랍니다.</li>
					<li>도서대출시 반납기한을 반드시 지켜주시기 바랍니다.</li>
					<li>도서관의 자료, 물품 및 기타 시설물은 파손하거나 훼손하지 않습니다.</li>
					<li>회원증 분실 및 개인정보 변동시에는 도서관으로 바로 통보합니다.</li>
					<li>지정된 장소 이외에는 음식물 반입을 금지합니다.</li>
					<li>타인에게 혜오감을 주는 행위는 하지 않습니다.</li>
					<li>주차는 지정된 장소에만 하고 연락처를 꼭 남깁시다.</li>
					<li>기타 도서관 제반 이용 규칙을 준수하여 주시기 바랍니다.</li>
				</ul>
			</div>
		</div>

		<!-- 이용시간 탭 -->
		<div id="panel-hours" class="ui-tab-panel">
			<div class="usage-guide">
				<h3 class="usage-guide__title">도서관별 운영시간을 반드시 확인하세요!</h3>
			</div>
			<div class="usage-guide__table-wrapper">
				<table class="usage-guide__table">
					<colgroup>
						<col width="20%" />
						<col width="25%" />
						<col width="20%" />
						<col width="15%" />
					</colgroup>
					<thead>
						<tr>
							<th>도서관</th>
							<th colspan="2">열람실</th>
							<th>휴관일</th>
						</tr>
					</thead>
					<tbody>
						<!-- 연수청학도서관 -->
						<tr>
							<td rowspan="3">연수청학도서관</td>
							<td>어린이자료실(1층), 디지털자료실(3층)</td>
							<td>화 ~ 일 : 09:00 ~ 18:00</td>
							<td rowspan="12">매주 월요일<br />국가 지정 공휴일</td>
						</tr>
						<tr>
							<td>종합자료실(2층)</td>
							<td>화 ~ 금 : 09:00 ~ 22:00<br />토 ~ 일 : 09:00 ~ 18:00</td>
						</tr>
						<tr>
							<td>학습열람실(3층)</td>
							<td>화 ~ 금 : 09:00 ~ 22:00<br />토 ~ 일 : 09:00 ~ 18:00</td>
						</tr>

						<!-- 연수꿈담도서관 -->
						<tr>
							<td rowspan="2">연수꿈담도서관</td>
							<td>유아자료실(1층), 어린이자료실(2층)</td>
							<td>화 ~ 일 : 09:00 ~ 18:00</td>
						</tr>
						<tr>
							<td>종합자료실(3층)</td>
							<td>화 ~ 금 : 09:00 ~ 22:00<br />토 ~ 일 : 09:00 ~ 18:00</td>
						</tr>

						<!-- 송도국제어린이도서관 -->
						<tr>
							<td>송도국제어린이도서관</td>
							<td colspan="2">
								화, 수, 금, 토, 일 : 10:00 ~ 18:00<br />목 : 10:00 ~ 20:00(※ 글로벌 빌리지: 10:00 ~ 18:00)
							</td>
						</tr>

						<!-- 해돋이도서관 -->
						<tr>
							<td rowspan="2">해돋이도서관</td>
							<td>어린이자료실(1층)</td>
							<td>화 ~ 일 : 09:00 ~ 18:00</td>
						</tr>
						<tr>
							<td>종합자료실(2층), 디지털존(2층),<br />안내데스크(1층), 디지털북카페(1층)</td>
							<td>화 ~ 금 : 09:00 ~ 22:00<br />토 ~ 일 : 09:00 ~ 18:00</td>
						</tr>

						<!-- 선학별빛도서관 -->
						<tr>
							<td rowspan="2">선학별빛도서관</td>
							<td>어린이자료실(2층), 디지털존(2층),<br />멀티미디어방(2층)</td>
							<td>화 ~ 일 : 09:00 ~ 18:00</td>
						</tr>
						<tr>
							<td>열람실(1층), 종합자료실(3층),<br />디지털실(3층)</td>
							<td>화 ~ 금 : 09:00 ~ 22:00<br />토 ~ 일 : 09:00 ~ 18:00</td>
						</tr>

						<!-- 동춘나래도서관, 함박비류도서관 -->
						<tr>
							<td>동춘나래도서관</td>
							<td rowspan="2" colspan="2">화 ~ 일 : 09:00 ~ 18:00</td>
						</tr>
						<tr>
							<td>함박비류도서관</td>
						</tr>

						<!-- 작은도서관들 (월~금 10:00~18:00) -->
						<tr>
							<td>옥련1동 작은도서관</td>
							<td rowspan="5" colspan="2">월 ~ 금 : 10:00 ~ 18:00</td>
							<td rowspan="5">매주 토, 일요일<br />국가 지정 공휴일</td>
						</tr>
						<tr>
							<td>옥련2동어린이 작은도서관</td>
						</tr>
						<tr>
							<td>연수1동 작은도서관</td>
						</tr>
						<tr>
							<td>송도2동 작은도서관</td>
						</tr>
						<tr>
							<td>송도3동 작은도서관</td>
						</tr>

						<!-- 작은도서관들 (화~토 10:00~18:00) -->
						<tr>
							<td>송도5동 작은도서관</td>
							<td rowspan="5" colspan="2">화 ~ 토 : 10:00 ~ 18:00</td>
							<td rowspan="5">매주 일, 월요일<br />국가 지정 공휴일</td>
						</tr>
						<tr>
							<td>문화공원작은도서관(북크로싱 센터)</td>
						</tr>
						<tr>
							<td>솔안공원 작은도서관</td>
						</tr>
						<tr>
							<td>해찬솔공원 작은도서관</td>
						</tr>
						<tr>
							<td>누리공원 작은도서관</td>
						</tr>

						<!-- 스마트도서관들 -->
						<tr>
							<td>송도4동 스마트도서관</td>
							<td rowspan="3" colspan="2">365일 24시간</td>
							<td rowspan="4">연중무휴</td>
						</tr>
						<tr>
							<td>스퀘어원 스마트도서관</td>
						</tr>
						<tr>
							<td>연수구청 스마트도서관</td>
						</tr>
						<tr>
							<td>선학역 스마트도서관</td>
							<td colspan="2">05:30 ~ 24:00</td>
						</tr>
					</tbody>
				</table>
			</div>

			<!-- 정보박스 컴포넌트 -->
			<div class="com-infobox">
				<div class="com-infobox__content">
					<div class="com-infobox__list-group">
						<div class="com-infobox__list-item">
							<div class="com-infobox__list-item-bullet"></div>
							<p class="com-infobox__list-item-text">국가지정공휴일은 『관공서의 공휴일에 관한 규정』에 따릅니다.</p>
						</div>
						<div class="com-infobox__list-item">
							<div class="com-infobox__list-item-bullet"></div>
							<p class="com-infobox__list-item-text">
								[휴관근거: 인천광역시연수구 공공도서관 설립 및 운영에 관한 조례 제14조]
							</p>
						</div>
						<div class="com-infobox__list-item">
							<div class="com-infobox__list-item-bullet com-infobox__list-item-bullet--reference"></div>
							<p class="com-infobox__list-item-text">
								감염병 위기대응 및 장서 점검 등 기타 도서관 사정에 따라 운영(개관)시간 변동 가능
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- 이용안내지 탭 -->
		<div id="panel-manual" class="ui-tab-panel">
			<div class="usage-guide">
				<h3 class="usage-guide__title">연수구립도서관 이용안내지</h3>
			</div>
			<div class="info-notice program-notice">
				<div class="info-notice__header">
					<div class="info-notice__icon">
						<img src="./assets/images/icon/icon-info.svg" alt="안내" class="icon icon-sm" />
					</div>
					<h3 class="info-notice__title">이용안내지 · 도서관 소식지</h3>
				</div>
				<div class="program-notice__content">
					<ul class="program-notice__list">
						<li class="list-none">
							연수구립도서관의 지난 이용안내지와 도서관 소식지를 확인해보세요. <br /> 해당 내용은 매해 연말마다 업데이트
							됩니다. (2024년~계속)
						</li>
					</ul>
				</div>
			</div>
			<div class="newsletter-list mt40">
				{
					newsletters.map(item => (
						<div class="newsletter-item">
							<div class="newsletter-item__content">
								<span class="newsletter-item__title">
									{item.year}년 이용안내지 [pdf, {item.fileSize}]
								</span>
							</div>
							<a href={item.fileUrl} class="newsletter-item__download" download>
								<span>다운로드</span>
								<img src="./assets/images/icon/icon-download.svg" alt="다운로드" />
							</a>
						</div>
					))
				}
			</div>
			<div class="usage-guide">
				<h3 class="usage-guide__title">연수구립도서관 도서관 소식지</h3>
			</div>
			<div class="newsletter-list mt40">
				{
					newsletters.map(item => (
						<div class="newsletter-item">
							<div class="newsletter-item__content">
								<span class="newsletter-item__title">
									{item.year}년 이용안내지 [pdf, {item.fileSize}]
								</span>
							</div>
							<a href={item.fileUrl} class="newsletter-item__download" download>
								<span>다운로드</span>
								<img src="./assets/images/icon/icon-download.svg" alt="다운로드" />
							</a>
						</div>
					))
				}
			</div>
		</div>
	</SubLayout>
</Layout>
